{% extends 'farmr/base.html' %}
{% load static %}
{% block content %}

<!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Sold Products</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Sold Product</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

<!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class=" rounded h-100 p-4">
                <h6 class="mb-4">Sold Product</h6>
                <table class="table">
                    <thead>
                        <tr>
                            
                            <th scope="col">Sold Product</th>
                            <th scope="col">Buyer Name</th>
                            <th scope="col">Buyer Address</th>
                            <th scope="col">Buyer District</th>
                            <th scope="col">Product Quantity</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for sold_product in sold_products %}
                    
                        <tr>
                            
                            <td>{{ sold_product.product.name }}</td>
                            <td>{{ sold_product.user.username }}</td>
                            <td>{{ sold_product.user.address }}</td>
                            <td>{{ sold_product.user.district }}</td>
                            <td>{{ sold_product.quantity }}</td>
                            <td><a href="{% url 'sold_product_detail' sold_product.id %}"" class="btn btn-success">Details</a></td>
                        </tr>
                    
                    {% endfor %}    
                    </tbody>
                </table>
            </div>
            
            
        </div>
    </div>
    <!-- End About Page -->
{% endblock %}