<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>farmer</h1><br>
    <h3><a href="{% url 'farm_register' %}">register</a></h3><br>
    <h3><a href="{% url 'farm_login' %}">login</a></h3><br><br><br>

    <h1>Buyer</h1><br>
    <h3><a href="{% url 'buyer_register' %}">register</a></h3><br>
    <h3><a href="{% url 'buyer_login' %}">login</a></h3><br>

    <h1>ADmin</h1><br>
    
    <h3><a href="{% url 'buyer_login' %}">login</a></h3><br>
    <p>username - admin . password -admin</p>

</body>
</html>